#info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#info-container > .info-card {
    border-left: 10px solid black;
}
.form input {
    outline: none;
    border: 2px solid blue;
}
